@import '../bourbon/bourbon'

/* CommentStyles */

.comments-container
  position: relative
  width: 50%
  margin: 0 auto 2rem
  .comment
    position: relative
    .comment-avatar-container
      position: absolute
      display: block
      width: 50px
      height: 50px
      border-radius: 50%
      background-color: transparent
      overflow: hidden
      img.comment-avatar
        position: absolute
        top: 0
        left: 0
        width: 100%
    .comment-author

    .comment-date

    .comment-text




// Modular media queries
@media #{$media-larger-than-smartphone}

@media #{$media-larger-than-phablet}

@media #{$media-larger-than-tablet}

@media #{$media-larger-than-desktop}

@media #{$media-larger-than-desktopHD}
