/* Content Styles */

.content
	position: relative
	width: 100%
	margin-top: 5vh
	text-align: center
	h2
		font-size: 2.5rem

article 
	width: 85%
	margin: 0 auto
	h3
		font-size: 2rem



// Modular media queries
@media #{$media-larger-than-smartphone}

@media #{$media-larger-than-phablet}

@media #{$media-larger-than-tablet}

@media #{$media-larger-than-desktop}

@media #{$media-larger-than-desktopHD}
