// Functional color variables
$navbar-background: #22313a
$color-primary: #009688
$navbar-toggle-background: #009688
$navbar-text: #ffffff
$color-text: #32373C
$color-hover: #337ab7
$color-focus: #354a5f
$color-link: #9bffff
$color-blog-divisory: #cccccc

// Border radius
$br-sm: 2px
$br-md: 4px
$br-lg: 8px

// Asset paths
$path-img: "images"

//Media query breackpoints
$media-larger-than-smartphone: "(min-width: 400px)"
$media-larger-than-phablet: "(min-width: 550px)"
$media-larger-than-tablet: "(min-width: 750px)"
$media-larger-than-desktop: "(min-width: 1000px)"
$media-larger-than-desktopHD: "(min-width: 1200px)"

// Font stacks
$text-logo: "Quicksand", sans-serif
$text-sublogo: "VT323", monospace
$text-title: "Roboto Mono", monospace
$text-regular: "Roboto", monospace
$text-sub: "Roboto Condensed", sans-serif
